################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/signalR
/signalR/bin
/signalR/obj/Debug
